[Desktop Entry]
Name=Funkin v0.8.0
Comment=Indie rythm game by the talented funkin crew
Exec=Funkin
Icon=io.github.Pucas01.FunkinFlatpak
Terminal=false
Type=Application
Categories=Game;

