[Desktop Entry]
Name=Funkin v0.8.1
Comment=Indie rhythm game by the talented funkin crew
Exec=Funkin
Icon=io.github.Pucas01.Funkin-Flatpak
Terminal=false
Type=Application
Categories=Game;
StartupNotify=true
